*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.banner {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(45deg, #0d1222, transparent),url("../20230602_115026.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.content {
    text-align: center;
    color: whitesmoke;
    width: 80%;

}

.content h2{
    font-size: 40px;
    text-transform: capitalize;
    color:darkorange;
}

.content p{
    font-size: 25px;
    color: whitesmoke;
    margin: 23px 0;
}

.content button {
    background-color: #0d1222;
    color:aliceblue;
    font-size: 23px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 11px 23px;
    cursor: pointer;
}

.content button:hover{
    background-color: darkorange;
    transition: 0.3s ease-in;
}